spring:
  application:
    name: sus-triage-api

  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  # Configuração para carregar os scripts H2
  sql:
    init:
      platform: h2
      mode: always

  jpa:
    hibernate:
      ddl-auto: none
    database-platform: org.hibernate.dialect.H2Dialect
    show-sql: true
    defer-datasource-initialization: true # Garante que os dados entrem após as tabelas
    properties:
      hibernate:
        format_sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

  # Configuração do RabbitMQ
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
    virtual-host: /
    listener:
      simple:
        concurrency: 3        # Mínimo de 3 consumers simultâneos
        max-concurrency: 10   # Escala até 10 consumers se necessário
        retry:
          enabled: true
          max-attempts: 3
          initial-interval: 2000
          multiplier: 2.0
          max-interval: 10000
        default-requeue-rejected: false

  # Configuração do Redis
  data:
    redis:
      host: localhost
      port: 6379


# SpringDoc OpenAPI configuration
springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true


server:
  port: 8081

logging:
  level:
    org.springframework.amqp: DEBUG
    org.springframework.amqp.rabbit.listener: DEBUG
    com.tech.sus_triage_api.service.rabbitmq: DEBUG
    org.springframework.rabbit: DEBUG
