name: Java CI with Maven

on:
  push:
    branches: [ "develop" ] # Roda a cada commit na develop
  pull_request:
    branches: [ "main", "develop" ] # Roda ao abrir PR

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Build with Maven
        # O parâmetro -DskipTests evita que o build falhe se não tivermos testes ainda
        run: mvn -B package --file pom.xml -DskipTests

      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: app-jar
          path: target/*.jar